.clock{
    max-width: 1000px;
    padding: 30px;

    display: grid;
    grid-template-areas: 
    'hour''minutes''seconds'
    'week''week''week'
    'years''months''days';
    gap: 10px;

    background-color: var(--glass);
    border-radius: 10px;
    box-shadow: 8px 8px 32px var(--shadow);
}

.clock__time:first-child{
    grid-area: hour;
}

.clock__time:nth-child(2){
    grid-area: minutes;
}

.clock__time:last-child{
    grid-area: seconds;
}

.clock__week{
    grid-area: week;
}

.clock__date:first-child{
    grid-area: years;
}

.clock__date:nth-child(2){
    grid-area: months;
}

.clock__date:last-child{
    grid-area: days;
}

.clock__time,
.clock__week,
.clock__date{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clock__time{
    gap: 65px;
}

.clock__time div,
.clock__week div,
.clock__date div{
    min-width: 150px;
    max-width: 240px;
    padding: 20px;
    display: grid;
    place-items: center;

    background-color: var(--preto);
    border-radius: 10px;
    box-shadow: 4px 4px 32px var(--shadow);
}

.clock__week div{
    width: 100%;
    max-width: 600px;
}

.clock__time div h1,
.clock__week div h1,
.clock__date div h1{
    color: var(--branco);
    font-family: Lora, serif;
    font-size: 85px;
    text-align: center;
}

.clock__time div p,
.clock__week div p,
.clock__date div p{
    margin: 10px 0 0 0;

    color: var(--branco);
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

@media (max-width:360px){
    .clock__time div h1,
    .clock__week div h1,
    .clock__date div h1{
        font-size: 70px;
    }

    .clock__time div p,
    .clock__week div p,
    .clock__date div p{
        font-size: 18px;
    }
}