.clock{
    width: 80%;
    max-width: 1000px;
    height: 380px;
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    background-color: var(--glass);
    border-radius: 10px;
    box-shadow: 8px 8px 32px var(--shadow);
}

.clock__time{
    width: 250px;
    height: 300px;
    padding: 15px;

    display: grid;
    place-items: center;

    background-color: var(--preto);
    border-radius: 10px;
    box-shadow: 4px 4px 32px var(--shadow);
}

.clock__time h1{
    color: var(--branco);
    font-family: 'Merriweather', serif;
    font-size: 150px;
}

.clock__time p{
    color: var(--branco);
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}

@media (max-width:900px){
    .clock__time{
        width: 100%;
        max-width: 250px;
        min-width: 150px;
    }

    .clock__time h1{
        font-size: 100px;
    }
}

@media (max-width: 730px){
    .clock__time{
        height: 100%;
        max-width: 200px;
        min-width: 100px;
        max-height: 200px;
        min-height: 120px;
    }

    .clock__time h1{
        font-size: 70px;
    }

    .clock__time p{
        font-size: 18px;
    }
}

@media(max-width: 620px){
    .clock{
        display: flex;
        flex-direction: column;
        height: 850px;
    }

    .clock__time{
        min-height: 230px;
    }
}